/*###################
-------HEADER--------
###################*/
header {
    margin: 0;
    padding: 0.5% 0.5% 0.5%;
    background: #2B2D42;
}

header a {
    padding-top: 10%;
    text-decoration:none;
    color: #8D99AE;
}

/*----LOGO----*/
#logo{
    margin: 0;
    padding: 0;
    font-size: 1.5em;
}

#colour{
    background-color: #EF233C;
    margin: 0;
    padding: 4%;
    color: #FFFFFF;
    border-radius: 20px 0 0 20px;
}

#it{
    padding: 2.1%;
    border: .07em solid #EF233C;
    color: #EF233C;
    border-radius: 0 20px 20px 0;
}

/*###################
-------BODY--------
###################*/
body {
    background-color: #2B2D42;
}

figcaption {
    text-align: center;
    color: #0D0628;
}

.col {
    text-align: center;
}

.nav-item {
    font-size: 130%;
}
/*###################
-----FOOTER------
###################*/
footer {
    background: #EDF2F4;
    text-align: center;
    color: #2B2D42;
}

/*###################
-----ANIMATION------
###################*/

/*----Zoom----*/
.text-decoration {
    text-decoration: none;
    color: #2B2D42;
}

.zoom img {
    transition: all .2s ease-in-out;
}
.zoom img:hover {
    transform: scale(1.5);
}


/*###################
-----FONT------
###################*/
@font-face {
    font-family: 'Oswald';
    src: url('../font/Oswald/Oswald.ttf');
}

* {
    font-family: "Oswald", serif;
}

/*###################
-----MEDIA BREAKPOINTS------
###################*/
/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
    .team {
        width: 300px;
    }
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
    .team {
        width: 500px;
    }
    .product {
        width: 500px;
        object-fit: cover;
    }
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
    .team {
        width: 700px;
    }
    .product {
        width: 700px;
        object-fit: cover;
    }
}

/*X-Large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
    .team {
        width: 300px;
        height: 300px;
        object-fit: cover;
    }
    .product {
        width: 400px;
        object-fit: cover;
    }
}

/*XX-Large devices (larger desktops, 1400px and up)*/
@media (min-width: 1400px) {
    .team {
        width: 400px;
        height: 400px;
        object-fit: cover;
    }
    .product {
        width: 500px;
        object-fit: cover;
    }
}
