/*###################
-------HEADER--------
###################*/
header{
    margin: 0;
    padding: 0.5% 0.5% 0.5%;
    background: #2B2D42;
}

header a{
    padding-top: 10%;
    text-decoration:none;
    color: #8D99AE;
}

/*----LOGO----*/
#logo{
    width: max-content;
}

#logo a{
    display:inline-block;
    font-size: 3em;
}

#colour{
    background-color: #EF233C;
    margin: 0;
    padding: 4%;
    color: #FFFFFF;
    border-radius: 20px 0 0 20px;
}

#it{
    padding: 2.1%;
    border: .07em solid #EF233C;
    color: #EF233C;
    border-radius: 0 20px 20px 0;
}

/*###################
-------BODY--------
###################*/
body{
    margin: auto;
    padding: 0;
    background-color: #8D99AE;
}

figcaption {
    text-align: center;
    color: #0D0628;
}

/*###################
-----FOOTER------
###################*/
footer{
    background: #EDF2F4;
    text-align: center;
    color: #2B2D42;
    width: 100%;
    position: fixed;
    bottom: 0;
}

footer ul{
    position: relative;
    display:inline-block;
    list-style: none;
}

/*----SOCIAL MEDIA----*/
#social_media_footer a{
    max-width: 20%;
}

#social_media_footer a{
    display:flex;
    align-items:center;
}

#social_media_footer li{
    position: relative;
    display:inline-block;
    width: 19%;
    min-width: 12%;
}

/*----CONTACT----*/
#contact_footer a{
    display:flex;
    align-items:center;
}

#contact_footer img{
    width:20%;
}

.footer_contact_info{
    font-size: 120%;
    text-decoration: none;
    color: var(--grey);
}

/*----NAV----*/
.nav_footer a{
    text-decoration: none;
    color : #0D0628;
    font-size: 130%;
}

.nav_footer a:hover{
    color : #DA627D;
}

.indentation_footer{
    padding-left: 10px;
}

/*###################
-----ANIMATION------
###################*/

/*----Zoom----*/
.zoom a:hover{
    transition: .3s ease-in-out;
    transform: scale(1.3);
}
/*----Arrow----*/
.arrow_image{
    max-width: 64px;
    max-height: 16px;
    margin-left: 10px;
    position: relative;
    top: 2px;
}

@keyframes arrow1 {
    0%,
    100% {
        transform: translate(0, 0);
    }

    50% {
        transform: translate(10px, 0);
    }
}

/*###################
-----FONT------
###################*/
@font-face {
    font-family: 'Oswald';
    src: url('../font/Oswald/Oswald.ttf');
}
*{
    font-family: "Oswald", serif;
}
