/*###################
-------HEADER--------
###################*/
header{
    margin: 0;
    padding: 0.5% 0.5% 0.5%;
    background: #2B2D42;
}

header a{
	padding-top: 10%;
	text-decoration:none;
	color: #8D99AE;
}

header nav ul{
	margin:0;
	padding:0;
}
/*----LOGO----*/
#logo{
    margin: 0;
	padding: 0;
	font-size: 1.5em;
}

#colour{
    background-color: #EF233C;
    margin: 0;
    padding: 4%;
	color: #FFFFFF;
	border-radius: 20px 0 0 20px;
}

#it{
    padding: 2.1%;
	border: .07em solid #EF233C;
	color: #EF233C;
	border-radius: 0 20px 20px 0;
}


/*###################
-------BODY--------
###################*/
body{
	margin: auto;
	padding: 0;
	background-color: #8D99AE;
}

article{
	margin: auto;
}

.title{
	font-size: 200%;
	color: var(--darkblue);
    padding-left: 10px;
}

ul{
    list-style-type: none;
}

.content{
	font-size: 130%;
	color: var(--darkblue);
	padding-left: 15px;
    text-align: center;
}

.links a{
	color:var(--bluelink);
	text-decoration: none;
	padding-left: 15px;
	font-size: 130%;
}

input[type=text], textarea {
	width: 100%;
	padding: 12px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	margin-top: 6px;
	margin-bottom: 16px;
	resize: vertical;
  }
  
  input[type=submit] {
	background-color: navy;
	color: white;
	padding: 12px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
  }
  
  input[type=submit]:hover {
	background-color: #45a049;
  }
  
  .container {
	border-radius: 5px;
	background-color: #f2f2f2;
	padding: 20px;
	width: 75%;
	position: center;
	margin: auto;
  }

  .overlay-image{
	position: absolute;
	bottom:0;
	left: 0;
	right: 0;
	top: 0;
	background-position: center;
	background-size: cover;
	opacity: 0.9;
  }

  .item img {
	  position: absolute;
	  top: 0;
	  left: 0;
	  min-height: 1300px;
  }

/*###################
-----FOOTER------
###################*/
#line{
	visibility: hidden;
}

footer{
	background: #EDF2F4;
	margin: 0;
	padding: 0;
	color: #2B2D42;
}

footer ul{
	position: relative;
	display:inline-block;
}

#footer{
	margin: 0 auto;
	width: calc(100vw - 64px);
    max-width: 960px;
	display: flex;
	align-items: flex-end;
	align-self: center;
	flex-direction: row;
}

/*----SOCIAL MEDIA----*/
#social_media_footer a{
	max-width: 20%;
}

#social_media_footer a{ 
	display:flex;
	align-items:center;
}

#social_media_footer li{
	position: relative;
	display:inline-block;
	width: 19%;
	min-width: 12%;
}

/*----CONTACT----*/
#contact_footer a{
	display:flex;
	align-items:center;
}

#contact_footer img{
	width:20%;
}

.footer_contact_info{
	font-size: 120%;
	text-decoration: none;
	color: var(--grey);
}

/*----TIME----*/
#op_times_footer{
	display: flex;
	align-items: flex-end;
}

#op_time_footer li{
	color:var(--darkblue);
	font-size: 120%;
}

.day_footer p{
	padding: 0;
	margin: 0;
}

/*----NAV----*/
.nav_footer a{
	text-decoration: none;
	color : var(--darkblue);
	font-size: 130%;
}

.nav_footer a:hover{
	color : var(--bluelinkhover);
}

.indentation_footer{
	padding-left: 10px;
}

/*###################
-----SCREEN------
###################*/
/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
    .main_project_pic {
        width: 300px;
    }
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
    .main_project_pic {
        width: 500px;
    }
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
    .main_project_pic {
        width: 700px;
    }
}

/*X-Large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
    .main_project_pic {
        width: 300px;
        height: 300px;
        object-fit: cover;
    }
}

/*XX-Large devices (larger desktops, 1400px and up)*/
@media (min-width: 1400px) {
    .main_project_pic {
        width: 400px;
        height: 400px;
        object-fit: cover;
    }
}

/*###################
-----ANIMATION------
###################*/

/*----Zoom----*/
.zoom a:hover{
	transition: .3s ease-in-out;
	transform: scale(1.3);
}
.zoom img:hover{
	transition: .3s ease-in-out;
	transform: scale(1.3);
}
/*----Arrow----*/
.arrow_image{
	max-width: 64px;
	max-height: 16px;
	margin-left: 10px;
	position: relative;
	top: 2px;
}

@keyframes arrow1 {
	0%,
	100% {
	  transform: translate(0, 0);
	}
  
	50% {
	  transform: translate(10px, 0);
	}
  }

/*###################
-----FONT------
###################*/
@font-face {
    font-family: 'Oswald';
    src: url('../font/Oswald/Oswald.ttf');
}
*{
	font-family: "Oswald";
}
/*###################
-----COLOR------
###################*/
:root{
--lightyellow:#FBE8A6;
--orange:#F4976C;
--darkblue:#303C6C;
--blue:#B5DEE6;
--lightblue:#D1FDFE;
--bluelinkhover:#4BADC2;
--bluelink:#318091;
--grey:#353533;
}

